<div class="border-b border-l border-r dark:border-gray-700 mt-4">
  <div class="flex items-stretch justify-between text-white">

    <div class="w-full h-16 dark:hover:bg-dim-300 cursor-pointer transition duration-350 ease-in-out py-4 px-2">
      <div class="max-w-full text-sm flex justify-center align-middle">
        <%= link_to 'verified_followers', class: 'h-12 min-w-fit align-middle' do %>
          <span class="text-sm <%= @view == :verified_user ? 'font-bold' : '' %>">
            Verified User
          </span>
          <% if @view == :verified_user %>
            <%= render(Followers::ActiveUnderlineComponent.new) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="w-full h-16 dark:hover:bg-dim-300 cursor-pointer transition duration-350 ease-in-out py-4 px-2">
      <div class="max-w-full text-sm flex justify-center align-middle">
        <%= link_to 'followers_you_know', class: 'h-full min-w-fit align-middle' do %>
          <span class="text-sm <%= @view == :followers_you_know ? 'font-bold' : '' %>">
            Followers you know
          </span>
          <% if @view == :followers_you_know %>
            <%= render(Followers::ActiveUnderlineComponent.new) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="w-full h-16 dark:hover:bg-dim-300 cursor-pointer transition duration-350 ease-in-out py-4 px-2">
      <div class="max-w-full text-sm flex justify-center align-middle">
        <%= link_to 'followers', class: 'h-12 min-w-fit align-middle' do %>
          <span class="text-sm <%= @view == :followers ? 'font-bold' : '' %>">
            Followers
          </span>
          <% if @view == :followers %>
            <%= render(Followers::ActiveUnderlineComponent.new) %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="w-full h-16 dark:hover:bg-dim-300 cursor-pointer transition duration-350 ease-in-out py-4 px-2">
      <div class="max-w-full text-sm flex justify-center align-middle">
        <%= link_to 'following', class: 'h-12 min-w-fit' do %>
          <span class="text-sm <%= @view == :following ? 'font-bold' : '' %>">
            Following
          </span>
          <% if @view == :following %>
            <%= render(Followers::ActiveUnderlineComponent.new) %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
