<%= form_with(model: @profile, url: "/profiles/#{current_user.id}", method: :put, data: { turbo: false }) do |f| %>
  <div class="flow-root py-2 px-2 ">
    <div class="flex flex-row float-left">
      <div class="py-2 mx-2">
        <%= link_to '', data: { turbo: false }, class: profile_modal_class do %>
          
          <svg viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6" style="color: rgb(239, 243, 244);">
            <g>
              <path d="M10.59 12L4.54 5.96l1.42-1.42L12 10.59l6.04-6.05 1.42 1.42L13.41 12l6.05 6.04-1.42 1.42L12 13.41l-6.04 6.05-1.42-1.42L10.59 12z"></path>
            </g>
          </svg>
          
        <% end %>
      </div>
    
      <div class="mx-0">
        <h2 class="my-2 text-xl font-bold text-white">Edit Profile</h2>
      </div>
    </div>
    
    <div class="float-right">
      <div class="flex flex-col text-right">
        <%= f.submit 'Save', class: edit_profile_class %>
        <%#= link_to "Save", create_profile_path, class: edit_profile_class %>
      </div>
    </div>
  </div>

  
  <div class="relative inside-block">
    <%#= image_tag form_profile_bg(profile&.profile_bg), class: "w-full h-full my-0 object-contain" %>
    <div class="w-full bg-cover bg-no-repeat bg-center" style="height: 200px; <%= profile_background_image(profile&.profile_bg) %>"></div>
      <%= f.label :profile_bg, class: 'inset-0 text-blue-400 hover:bg-blue-50 dark:hover:bg-dim-800 rounded-full' do %>
        <svg viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6 absolute top-1/2 left-1/2 fill-slate-300/50">
          <g>
            <path d="M9.697 3H11v2h-.697l-3 2H5c-.276 0-.5.224-.5.5v11c0 .276.224.5.5.5h14c.276 0 .5-.224.5-.5V10h2v8.5c0 1.381-1.119 2.5-2.5 2.5H5c-1.381 0-2.5-1.119-2.5-2.5v-11C2.5 6.119 3.619 5 5 5h1.697l3-2zM12 10.5c-1.105 0-2 .895-2 2s.895 2 2 2 2-.895 2-2-.895-2-2-2zm-4 2c0-2.209 1.791-4 4-4s4 1.791 4 4-1.791 4-4 4-4-1.791-4-4zM17 2c0 1.657-1.343 3-3 3v1c1.657 0 3 1.343 3 3h1c0-1.657 1.343-3 3-3V5c-1.657 0-3-1.343-3-3h-1z"></path>
          </g>
        </svg>
        <%= f.file_field :profile_bg, as: :file, label: false, class: "hidden" %>
      <% end %>
  </div>

  <div>
    <div class="p-4">
      <div class="relative flex w-full">
        <!-- Avatar -->
        <div class="flex flex-1">
          <div style="margin-top: -6rem;">
            <div style="height:9rem; width:9rem;" class="relative inside-block md rounded-full">
              <%= image_tag(avatar_pic(profile), class: 'md rounded-full relative border-4 border-gray-900', style: "height:9rem; width:9rem;") %>
              <%= f.label :profile_pic, class: 'inset-0 text-blue-400 hover:bg-blue-50 dark:hover:bg-dim-800 rounded-full' do %>
                <svg viewBox="0 0 24 24" aria-hidden="true" class="h-6 w-6 absolute top-1/2 left-1/2 fill-slate-300/50">
                  <g>
                    <path d="M9.697 3H11v2h-.697l-3 2H5c-.276 0-.5.224-.5.5v11c0 .276.224.5.5.5h14c.276 0 .5-.224.5-.5V10h2v8.5c0 1.381-1.119 2.5-2.5 2.5H5c-1.381 0-2.5-1.119-2.5-2.5v-11C2.5 6.119 3.619 5 5 5h1.697l3-2zM12 10.5c-1.105 0-2 .895-2 2s.895 2 2 2 2-.895 2-2-.895-2-2-2zm-4 2c0-2.209 1.791-4 4-4s4 1.791 4 4-1.791 4-4 4-4-1.791-4-4zM17 2c0 1.657-1.343 3-3 3v1c1.657 0 3 1.343 3 3h1c0-1.657 1.343-3 3-3V5c-1.657 0-3-1.343-3-3h-1z"></path>
                  </g>
                </svg>
                <%= f.file_field :profile_pic, as: :file, label: false, class: "hidden" %>
              <% end %>
            </div>
          </div>
        </div>
        
      </div>
  </div>

  <div class="px-4">
    <div class="relative">
      <%= f.text_field :name, class: profile_form_input_class %>
      <%= f.label :name, class: profile_form_label_class %>
    </div>
    
    <div class="relative">
      <%= f.text_field :description, rows: 6, class: profile_form_input_class %>
      <%= f.label :description, class: profile_form_label_class %>
    </div>
    
    <div class="relative">
      <%= f.text_field :website, class: profile_form_input_class %>
      <%= f.label :website, class: profile_form_label_class %>
    </div>
    <div class="relative">
      <%= f.text_field :birth_date, class: profile_form_input_class %>
      <%= f.label :birth_date, class: profile_form_label_class %>
    </div>

    <div class="inline">
      <%#= f.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>

  </div>
<% end %>