  <div 
    data-controller="show-churp"
    data-show-churp-url-value="<%= show_churp_path(churp.user, churp) %>"
    class="z-0 churp-block border-b border-gray-200 dark:border-dim-200 hover:bg-gray-100 dark:hover:bg-dim-300 cursor-pointer transition duration-350 ease-in-out pb-4 border-l border-r">
    <!-- link -->
    <%= render 'churps/shared/user_link', churp: churp %>

    <div class="pl-16">

      <p
      data-action="click->show-churp#showChurp" 
      class="my-4 text-base width-auto font-medium text-gray-800 dark:text-white flex-shrink">
        <%= churp.body %>
      </p>

      <% if churp.churp_pic.attached? %>
        <img class="rounded-2xl" src=<%= url_for(churp.churp_pic) %>/>
      <% end %>

        <div class="z-20 flex items-center justify-center">

          <%# Comments %>
          <%= render 'churps/shared/comments' %>

          <%# Rechurp %>
          <%= render 'churps/shared/rechurp_button', churp: churp %>

          <%= render 'churps/shared/likes', churp: churp %>

          <%# Number of views %>
          <%= render 'churps/shared/analytics', churp: churp %>

          <%# Share %>
          <%= render 'churps/shared/share' %>

        </div>

    </div>
  </div>
