  <div class="z-0 churp-block border-b border-gray-200 dark:border-dim-200 pb-4 border-l border-r">
    <!-- link -->
    <%= render 'churps/shared/user_link', churp: churp %>

    <div class="pl-16">

      <p class="my-8 text-base width-auto font-medium text-gray-800 dark:text-white flex-shrink">
        <%= churp.content %>
      </p>

      <% if churp.churp_pic.attached? %>
        <img class="rounded-2xl" src=<%= url_for(churp.churp_pic) %>/>
      <% end %>

      <%= render 'churps/shared/share_icons', churp: churp %>

    </div>

    <%= image_tag "/assets/view_pixel.png?user=#{current_user.slug}&churp=#{churp.id}" %>
  </div>
