<div class="w-full sm:w-600 h-screen scrollbar-hide">
  
  <%= render 'shared/header', view: :index, name: 'Home' %>

  <%= render 'new_churp', churp: @churp %>

    <div data-controller="broadcast-churps">
      <div class="border-b border-gray-200 dark:border-dim-200 bg-gray-50 dark:bg-dim-300 py-2 border-l border-r">
        <div class="flex flex-shrink-0 items-center justify-center py-4 bg-white dark:bg-dim-900 border-b border-t border-gray-200 dark:border-dim-200 hover:bg-gray-50 dark:hover:bg-dim-300 cursor-pointer transition duration-350 ease-in-out text-blue-400 text-sm">
          <button class="hidden" 
            data-broadcast-churps-target="notification" 
            data-action="click->broadcast_churps#loadNewChurps"></button>
        </div>
      </div>
    </div>

    <%= turbo_frame_tag "churps" do %>
      <% @churps.each do |churp| %>
        <%= render partial: "churps/#{churp.churp_type}", locals: { churp: churp } %>
      <% end %>
    <% end %>
    <%= render 'churps/shared/next_page'%>

    <%= render 'timeline_notication' %>

</div>
