<div class="w-full sm:w-600 h-screen scrollbar-hide">
  
  <%= render 'shared/header', view: :index, name: 'Home' %>

  <%= render 'new_churp', churp: @churp %>

    <%= render 'notify_new_churps'%>

    <%#= turbo_frame_tag "churps" do %>
      <% @churps.each do |churp| %>
        <%= render partial: "churps/#{churp.churp_type}", locals: { churp: churp } %>
      <% end %>
    <%# end %>
    <%= render 'churps/shared/next_page'%>

    <%= render 'timeline_notication' %>

</div>
