  <div 
    id="<%= dom_id tweet %>"
    data-controller="show_tweet"
    data-action="click->show_tweet#show"
    data-show_tweet-url-value="<%= show_tweet_path(tweet.user, tweet) %>"
    class="z-0 tweet-block border-b border-gray-200 dark:border-dim-200 hover:bg-gray-100 dark:hover:bg-dim-300 cursor-pointer transition duration-350 ease-in-out pb-4 border-l border-r">
    <!-- link -->
    <%= render 'tweets/shared/user_link', tweet: tweet %>

    <div class="pl-16">

      <p class="my-16 text-base width-auto font-medium text-gray-800 dark:text-white flex-shrink">
        <%= tweet.body %>
      </p>

      <% if tweet.churp_pic.attached? %>
        <img class="rounded-2xl" src=<%= url_for(tweet.churp_pic) %>/>
      <% end %>

        <div class="z-20 flex items-center justify-center">

          <%# Comments %>
          <%= render 'tweets/shared/comments' %>

          <%# Retweet %>
          <%= render 'tweets/shared/retweet' %>

          <%= render 'tweets/shared/likes', tweet: tweet %>

          <%# Share %>
          <%= render 'tweets/shared/share' %>

        </div>

    </div>

  </div>
