<%= render 'shared/left_side', tweet: @tweet %>

<!-- Middle -->
<div class="w-full sm:w-600 h-screen scrollbar-hide">
  
  <%= render 'shared/header', view: :index %>

  <%= render 'new_tweet', tweet: @tweet %>

  <!-- Timeline -->

    <div data-controller="new_tweets">
      <div class="border-b border-gray-200 dark:border-dim-200 bg-gray-50 dark:bg-dim-300 py-2 border-l border-r">
        <div class="flex flex-shrink-0 items-center justify-center py-4 bg-white dark:bg-dim-900 border-b border-t border-gray-200 dark:border-dim-200 hover:bg-gray-50 dark:hover:bg-dim-300 cursor-pointer transition duration-350 ease-in-out text-blue-400 text-sm">
          <button class="hidden" 
            data-tweets-target="notification" 
            data-action="click->new_tweets#loadNewTweets"></button>
        </div>
      </div>

    </div>
    
    <div id="tweets">
      <%= render @tweets %>
      <%= render 'next_page' %>
    </div>


    <!-- Timeline Notification -->
    <%#= render 'timeline_notication' %>
    <!-- /Timeline Notification -->

  <!-- /Timeline -->
</div>
<!-- /Middle -->

<%= render 'shared/right_side' %>