<%= render 'shared/left_side', tweet: @tweet %>

<!-- Middle -->
<div class="w-full sm:w-600 h-screen scrollbar-hide">

  <%= render 'shared/header', view: :show, name: 'Post' %>

  <%= render 'show_tweet', tweet: @tweet %>

  <%= render 'post_comment', comment: @comment, tweet: @tweet %>

  <!-- comments -->
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment, tweet: @tweet %>
  <% end %>
  <!-- /comments -->

</div>
<!-- /Middle -->

<%= render 'shared/right_side' %>
