<div class="flex flex-row justify-between items-center px-4 py-3 bg-white dark:bg-dim-900 border-l border-r border-b border-gray-200 dark:border-gray-700">
    <div class="w-full">
    <% if view == '' %>
      <%= link_to root_path do %>
        <div class="flex justify-start">
          <div class="mx-2 text-2xl font-medium rounded-full text-blue-400 hover:bg-gray-800 hover:text-blue-300 float-right">
              <%= render Icons::BackArrowComponent.new %>
          </div>
          <div class="py-2 mx-2">
            <h2 class=" text-xl font-bold text-white"><%= name %></h2>
          </div>
        </div>
      <% end %>
    <% elsif view == :search %>
        <div class="flex flex-row items-center justify-between space-x-1 w-full">
          <%= link_to root_path do %>
            <div class="mx-2 text-2xl font-medium rounded-full text-blue-400 hover:bg-gray-800 hover:text-blue-300 float-right">
              <%= render Icons::BackArrowComponent.new %>
            </div>
          <% end %>
          <div class="flex flex-row-reverse space-x-1 w-full">
            <%= render partial: "search/form", locals: { results: [] } %>
          </div>
        </div>
    <% else %>
      <h2 class="text-gray-800 dark:text-gray-100 font-bold font-sm">
        <%= name.capitalize %>
      </h2>   
    <% end %>
    </div>
</div>

<%= header_links(controller_name, view: view, followers: followers, following: following) %>

